ignoredisk --only-use=vda
bootloader --location=mbr --boot-drive=vda --append=" crashkernel=auto"
#bootloader --location=mbr --driveorder=/dev/vda --append=" crashkernel=auto"

zerombr
clearpart --all --initlabel
#clearpart --drives=vda
#autopart --type=lvm --fstype=ext4 --nohome

partition /boot --size 512 --label boot --asprimary --fstype=ext4 --ondrive=vda
#partition /boot/efi --size 200 --label efi --asprimary --fstype=vfat --ondrive=vda
partition pv.1 --size 1 --grow --label lvm --ondrive=vda
volgroup rhel pv.1
logvol / --fstype ext4 --vgname rhel --size=4096 --name=root
logvol /var --fstype ext4 --vgname rhel --size=1024 --name=var
logvol swap --vgname rhel --size=1024 --name=swap

eula --agreed
shutdown
text
cdrom
keyboard --vckeymap=fr --xlayouts='fr'
lang en_US.UTF-8
network --bootproto=dhcp
repo --name="AppStream" --baseurl="file:///run/install/repo/AppStream"
rootpw Passw0rd!
auth --enableshadow --passalgo=sha256 --kickstart
selinux --permissive
firewall --enabled
firstboot --disable
skipx
services --enabled="NetworkManager,sshd,chronyd"
timezone Europe/Paris --isUtc
user --groups=wheel --name=perreau --password=Passw0rd!

# Create GPT partition table
%pre --log=/root/pre_log
#/usr/bin/dd bs=512 count=10 if=/dev/zero of=/dev/vda
#/usr/sbin/parted --script /dev/vda mklabel gpt
/usr/sbin/parted --script /dev/vda print 
/usr/bin/sleep 15
%end

%post --log=/root/post_log
sed -i.bak -e "s:^UUID=[0-9a-f-]* /boot:/dev/vda1 /boot:g" /etc/fstab
wget -O/etc/pki/tls/certs/ca-bundle.crt http://curl.haxx.se/ca/cacert.pem
dnf install -y https://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm
dnf update -y
dnf install -y byobu htop multitail nload
echo "perreau      ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/ops
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
dnf clean all
cloud-init clean
cloud-init clean --logs
shutdown -h +3
%end

%packages --ignoremissing --excludedocs
@^minimal-environment
@standard
kexec-tools

open-vm-tools
qemu-guest-agent
cloud-init
cloud-utils-growpart
sudo
wget
rsync
tree
tmux
perl

# unnecessary firmware
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl105-firmware
-iwl135-firmware
-iwl1000-firmware
-iwl2000-firmware
-iwl2030-firmware
-iwl3160-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6050-firmware
-iwl7260-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
%end